@font-face {
  font-family: "Pretty_Garden";
  src: url("../fuentes/Pretty_Garden.ttf") ;
}

.titulo{
  color:white;
  font-family: "Pretty_Garden";
}

.enlace {
  text-decoration: none;
}

#googleMap {
  height: 25%;
  width: 90%;
  display:block;
  margin:auto;
} 

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


   